body {
    background-color: #5287a0;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.profile-img {
    display: block;
    margin: 15px auto;
    width: 150px;
    border-radius: 50%;
}

p {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
